.heading {
    display: flex;
    /* align-items: baseline; */
    background-color: #BFF6C3;
    /* position: fixed; */
    justify-content: space-between;
}

.heading1 {
    display: flex;
}

#e-book-heading {
    font-family: serif;
    font-size: 70px;
    margin: 0px;
}

/* .search-container {
    width: 1000px;
} */
.search-container {
    padding-top: 24.95px;
    padding-right: 30px;
}

#input {
    width: 300px; 
    height: 25px;
    border-radius: 10px ;
}

#input:hover {
    background-color: rgb(232, 229, 229);
}

#search-button { 
    width: auto;
    height: 30px;
    border-radius: 10px ;
}

#search-button:hover {
    background-color: rgb(206, 193, 193);
}

/* .e-book-logo:hover {

} */

/* .side-bar1 ,.my-account{
    text-align: center;
    width: 25%;
    background-color: #BFF6C3;

} */

.customer , .department ,.media ,.account ,.home{
    font-size: 40px;
    /* text-align: center; */
    color: black;
    text-decoration: none;
}
.dept {
    background-color: #6ed673;
    border-radius: 10px;
}
/* .hm {
    background-color: #6ed673;
    border-radius: 10px;
} */
.cust:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}
.dept:hover {
    background-color: #6ed673;
    border-radius: 10px;
}
.med:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}

.heading:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}

.acct:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1080px;
    background-color: #BFF6C3;
    width: 25%;
}


.content {
    display: flex;
}

table {
    border-collapse: collapse;
    height: 250px;
    width: 850px;
}

td,th {
    text-align: center;
}

.dept-table {
    background-color: #7fffd4;
}

table {
    height: 1000px;
    width: 900px;
}
.next-bar {
    display: flex;
    margin-top: 20px;
}
.next{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}
.main {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
.prev {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-left: 380px;
    margin-right: 10px;
} 

button {
    height: 30px;
    width: 30px;
    background-color: #05f1f9;
    border: 2px solid black;
    border-radius: 5px;
}

th:hover {
    background-color: #42e7b0;
}

td:hover {
    background-color: #0aac76;
}