.heading {
    display: flex;
    /* align-items: baseline; */
    background-color: #BFF6C3;
    /* position: fixed; */
    justify-content: space-between;
}

.heading1 {
    display: flex;
}

#e-book-heading {
    font-family: serif;
    font-size: 70px;
    margin: 0px;
}

/* .search-container {
    width: 1000px;
} */
.search-container {
    padding-top: 24.95px;
    padding-right: 30px;
}

#input {
    width: 300px; 
    height: 25px;
    border-radius: 10px ;
}

#input:hover {
    background-color: rgb(232, 229, 229);
}

#search-button { 
    width: auto;
    height: 30px;
    border-radius: 10px ;
}

#search-button:hover {
    background-color: rgb(206, 193, 193);
}

/* .e-book-logo:hover {

} */

/* .side-bar1 ,.my-account{
    text-align: center;
    width: 25%;
    background-color: #BFF6C3;

} */

.customer , .department ,.media ,.account ,.home{
    font-size: 40px;
    /* text-align: center; */
    color: black;
    text-decoration: none;
}
.med {
    background-color: #6ed673;
    border-radius: 10px;
}
/* .hm {
    background-color: #6ed673;
    border-radius: 10px;
} */
.cust:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}
.dept:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}
.med:hover {
    background-color: #6ed673;
    border-radius: 10px;
}

.heading:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}

.acct:hover {
    background-color: #ACE1AF;
    border-radius: 10px;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 900px;
    background-color: #BFF6C3;
    width: 25%;
}
.content{
    display: flex;
}

#one,#two,#three {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: #000000;
}
#four,#five,#six {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: #000000;
}

.first,.second,.vid-div ,.aud-div{
    display: flex;
}

.first {
    margin-left: 50px;
}

.second {
    margin-left: 50px;
}

#one {
    margin-right: 50px;
    border: 2px solid black;
}

#two {
    margin-right: 50px;
    border: 2px solid black;
}

#three {
    margin-right: 50px;
    border: 2px solid black;
}

#four {
    margin-right: 50px;
    margin-top: 30px;
    border: 2px solid black;
}

#five {
    margin-right: 50px;
    margin-top: 30px;
    border: 2px solid black;
}

#six {
    margin-right: 50px;
    margin-top: 30px;
    border: 2px solid black;
}

.image-letter {
    margin-left: 50px;
    background-color: #0befb2;
    border-radius: 5px;
    margin-right: 25px;
}

.video-letter {
    margin-left: 50px;
    background-color: #02d4f9;
    border-radius: 5px;
    margin-right: 25px;
}

.audio-letter{
    margin-left: 50px;
    background-color: #879fc5;
    border-radius: 5px;
    margin-right: 25px;
}

.one-v ,.two-v ,.three-v{
    margin-left: 50px;
    border-radius: 5px;
    background-color: #000000;
    height: 190px;
    width: 200px;
    margin-right: 20px;
}

.aud-div {
    margin-left: 50px;
}